// main-page
$main-page-bg: #fff
    
// header
$header-bg: #4e4e50
$header-text-color: #fff

// header-top
$header-top-border: #fff
$city-select-bg: #4e4e50

// header-search
$header-search-bg: #e2e1df
$header-search-input: #4e4e50
$header-search-btn: #e92126

// header-nav
$header-nav-text: #fff
$header-nav-menu: #fff
$header-nav-border: #fff

// info
$info-bg: #e92126
$info-btn-text: #1d1b19
$info-btn-bg: #ede712
$info-text: #fff

// main
$main-bg: #fff

// main-social

$main-social-bg: #8b8e91
$main-social-hover: #4dac38

// main-slider
$main-slider-bg: #ECEAEB
$main-slider-border: #b7b8b9
$main-slider-dots-bg: #fff

// main-popular
$main-popular-bg: #fff
$main-popular-text: #1d1b19
$main-popular-text-hover: #e92126
$main-popular-btn-bg: #ede712
$main-popular-border: #4e4e50

// main-leaders
$main-leaders-bg: #fff   
$main-leaders-title-bg: #e92126   
$main-leaders-title-text: #fff 
$main-leadrs-cards-bg: #fff 
$main-leadrs-cards-name: #1d1b19
$main-leadrs-btn-buy-bg: #e92126
$main-leadrs-btn-click-bg: #ede712
$main-leaders-btn-buy-text: #fff
$main-leaders-btn-click-text: #1d1b19
$main-leaders-cost-text: #e92126
$main-leaders-text: #1d1b19
$main-leaders-border: #b7b8b9

// main-discounts

$main-discounts-bg: #fff   
$main-discounts-title-bg: #ede712  
$main-discounts-title-text: #1d1b19
$main-discounts-cards-bg: #fff 
$main-discounts-cards-name: #1d1b19
$main-discounts-btn-buy-bg: #e92126
$main-discounts-btn-click-bg: #ede712
$main-discounts-btn-buy-text: #fff
$main-discounts-btn-click-text: #1d1b19
$main-discounts-cost-text: #e92126
$main-discounts-text: #1d1b19
$main-discounts-border: #b7b8b9

// main-news

$main-news-bg: #fff   
$main-news-title-bg: #ede712  
$main-news-title-text: #1d1b19
$main-news-cards-bg: #fff 
$main-news-cards-name: #1d1b19
$main-news-btn-buy-bg: #e92126
$main-news-btn-click-bg: #ede712
$main-news-btn-buy-text: #fff
$main-news-btn-click-text: #1d1b19
$main-news-cost-text: #e92126
$main-news-text: #1d1b19
$main-news-border: #b7b8b9

// main-offer

$main-offer-bg: #fff
$main-offer-title-name: #4e4e50
$main-offer-item-name: #110f0d
$main-offer-item-text: #5f6163
$main-offer-item-hover: #e92126

// main-accordion

$main-accordion-bg: #fff
$main-accordion-active: #ede712
$main-accordion-name: #1d1b19
$main-accordion-text: #5f6163
$main-accordion-border: #aeacad
$main-accordion-arrows: #4e4e50


// footer 
$footer-bg: #f8f7f2

// footer-nav

$footer-nav-bg: #4e4e50
$footer-nav-text: #fff
$footer-nav-text-hover: #c99a19

// footer-inf

$footer-inf-bg: #f8f7f2 
$footer-inf-text: #110f0d  

// footer-details

$footer-details-bg: #e8ea14
$footer-details-text: #110f0d

// footer-reserved

$footer-reserved-bg: #f8f7f2 
$footer-reserved-text: #110f0d

// footer-present

$footer-present-bg: #fff 
$footer-present-text: #110f0d
$footer-present-gift: #e92126
$footer-present-border: #b7b8b9

