$Avenir: 'Avenir Next Cyr'
$Avenir-Medium: 'Avenir Next Cyr Medium'
    
@font-face 
    font-family: 'Avenir Next Cyr'
    font-weight: normal
    font-style: normal

    src: url('../fonts/AvenirNextCyr-Regular.woff2') format('woff2'), url('../fonts/AvenirNextCyr-Regular.woff') format('woff')

@font-face 
    font-family: 'Avenir Next Cyr Medium'
    font-weight: 500
    font-style: normal

    src: url('../fonts/AvenirNextCyr-Medium.woff2') format('woff2'), url('../fonts/AvenirNextCyr-Medium.woff') format('woff')

@font-face 
    font-family: 'Avenir Next Cyr Medium'
    font-weight: 500
    font-style: normal

    src: url('../fonts/AvenirNextCyr-Medium.woff2') format('woff2'), url('../fonts/AvenirNextCyr-Medium.woff') format('woff')


@font-face 
    font-family: 'Main-social'
    font-weight: normal
    font-style: normal

    src:  url('../fonts/icomoon.eot')
    src:  url('../fonts/icomoon.eot') format('embedded-opentype'), url('../fonts/icomoon.ttf') format('truetype'), url('../fonts/icomoon.woff') format('woff'), url('../fonts/icomoon.svg') format('svg')
    font-display: block