html
    box-sizing: border-box

    *, *:before, *:after
        box-sizing: inherit

// Экстрамалые девайсы («портретные телефоны», < 576px)
@media (max-width: 575.98px) 
    html
        font-size: 0.6rem

// Малые девайсы («ландшафтные», >= 575px)
@media (min-width: 576px) and (max-width: 767.98px) 
    html
        font-size: 0.5rem

// Большие девайсы (большие десктопы, >= 1200px)
@media (min-width: 1200px) 
    html
        font-size: 1rem

.main-page
    margin: 0 auto
    padding: 0
    background: #fff
    font-family: 'Avenir Next Cyr', sans-serif
    width: 100%
    overflow-y: scroll

.wrapper
    display: flex
    flex-flow: column
    max-width: 1220px
    margin: 0 auto
    padding: 0 10px 0

.header
    min-height: 205px
    background: $gray

.info
    margin: 0 auto
    min-height: 75px
    background: $red  url('../img/info/bg.png')

.main
    margin-top: 10px
    background: #ffffff  
    border-radius: 10px

.footer
    margin-top: 115px
    background: $footer-bg

@media (max-width: 575.98px) 
    .footer
        margin-top: 0
        
@media (min-width: 576px) and (max-width: 767.98px) 
    .footer
        margin-top: 0

    .header
        min-height: 225px



