.footer
    &__reserved
        height: 254px

    @media (max-width: 575.98px) 
        &__reserved
            max-height: 250px

    @media (min-width: 576px) and (max-width: 767.98px) 
        &__reserved
            height: 150px

.reserved
    &__row
        padding-top: 91px
        font: 400 16px/1.27em 'Avenir Next Cyr'
        color: $text

    @media (max-width: 575.98px) 
        &__row
            padding-top: 20px
            font-size: 15px
            text-align: justify
        
    @media (min-width: 576px) and (max-width: 767.98px) 
        &__row
            padding-top: 20px
            font-size: 16px
            text-align: justify