.footer
    &__nav
        display: flex
        align-items: center

        height: 54px

        background: $footer-nav-bg

    @media (max-width: 575.98px)
        &__nav
            width: 100%

    @media (min-width: 576px) and (max-width: 767.98px)
        &__nav
            width: 100%
            margin-bottom: 10px

    .nav
        &__list
            display: flex
            flex-flow: row wrap
            justify-content: space-between

            width: 909px
            margin: 0 auto
            padding: 0

        &__item
            margin-left: 1px

            list-style-type: none

        &__link
            font: 400 0.8125rem / 1.38em $Avenir

            padding: 7px 0 4px

            text-decoration: none
            letter-spacing: .26px
            text-transform: uppercase

            color: $footer-nav-text

            &:hover
                color: $footer-nav-text-hover
                border-bottom: 1px solid $footer-nav-text-hover

        &__menu
            position: relative

        @media (max-width: 991.98px)
            &__list
                display: none

