  
.info
    &__wrapper
        min-height: 75px
        background: $red
        display: flex
        flex-flow: row nowrap
        justify-content: space-between
        align-items: center

    &__item
        display: flex
        flex-flow: column nowrap
        justify-content: space-between
        align-items: center
        cursor: pointer
        text-align: center
        margin-right: 3px

    &__btn-catalog
        position: relative
        width: 319px
        height: 65px
        padding-left: 46px
        background: $yellow
        border: none
        border-radius: 5px
        font: bold 25px/1.28em "Avenir Next Cyr Medium"
        color: $black
        text-transform: uppercase
        cursor: pointer

        &::after
            content: ''
            position: absolute
            width: 26px
            height: 25px
            top: 20px
            left: 18px
            background: url('../img/info/catalog.svg') no-repeat

    
    &__btn-phone
        position: relative
        width: 319px
        height: 65px
        padding: 0 10px 0 63px
        background: $yellow
        border: none
        border-radius: 5px
        font: bold 25px/1.28em "Avenir Next Cyr Medium"
        color: $black
        text-transform: uppercase
        cursor: pointer

        &::after
            content: ''
            position: absolute
            width: 40px
            height: 41px
            top: 12px
            left: 20px
            background: url('../img/info/phone.svg') no-repeat

    &__subtext
        display: block
        font: 400 12px/1.33em "Avenir Next Cyr"
        color: $black
        text-transform: none

    &__name
        font: bold 13px/1.38em "Avenir Next Cyr Medium"
        color: #ffffff 
        letter-spacing: -0.26px
    
    @media (max-width: 575.98px) 
        &__wrapper
            flex-flow: column nowrap
            background: $red  url('../img/info/bg.png')
            
        &__btn-catalog,  &__btn-phone
            width: 100% 
            font-size: 16px     

        &__subtext
            font-size: 10px

        &__item
            padding-top: 15px
            margin-bottom: 15px

        &__img
            margin-bottom: 10px

    @media (min-width: 576px) and (max-width: 767.98px) 
        &__wrapper
            flex-flow: row wrap
            background: $red  url('../img/info/bg.png')
            justify-content: center

        &__item
            padding-top: 15px
            margin: 0 5px 15px 0

            &:nth-child(1)
                order: -1
                flex-basis: 40%

            &:nth-child(2)
                flex-basis: 20%

            &:nth-child(3)
                flex-basis: 20%

            &:nth-child(3)
                flex-basis: 20%

            &:nth-child(5)
                order: -1
                flex-basis: 40%

        &__btn-catalog,  &__btn-phone
            width: 100%
            font-size: 16px     
            
        &__img
            margin-bottom: 10px
