@charset "UTF-8";
/* Slider */
.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}

[dir="rtl"] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

/* Slider */
.slick-loading .slick-list {
  background: #fff url("./ajax-loader.gif") center center no-repeat;
}

/* Icons */
@font-face {
  font-family: "slick";
  src: url("./fonts/slick.eot");
  src: url("./fonts/slick.eot?#iefix") format("embedded-opentype"), url("./fonts/slick.woff") format("woff"), url("./fonts/slick.ttf") format("truetype"), url("./fonts/slick.svg#slick") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none;
}

.slick-prev:hover, .slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  outline: none;
  background: transparent;
  color: transparent;
}

.slick-prev:hover:before, .slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
  opacity: 1;
}

.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: 0.25;
}

.slick-prev:before,
.slick-next:before {
  font-family: "slick";
  font-size: 20px;
  line-height: 1;
  color: white;
  opacity: 0.75;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-prev {
  left: -25px;
}

[dir="rtl"] .slick-prev {
  left: auto;
  right: -25px;
}

.slick-prev:before {
  content: "←";
}

[dir="rtl"] .slick-prev:before {
  content: "→";
}

.slick-next {
  right: -25px;
}

[dir="rtl"] .slick-next {
  left: -25px;
  right: auto;
}

.slick-next:before {
  content: "→";
}

[dir="rtl"] .slick-next:before {
  content: "←";
}

/* Dots */
.slick-dotted.slick-slider {
  margin-bottom: 30px;
}

.slick-dots {
  position: absolute;
  bottom: -25px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%;
}

.slick-dots li {
  position: relative;
  display: inline-block;
  height: 20px;
  width: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}

.slick-dots li button {
  border: 0;
  background: transparent;
  display: block;
  height: 20px;
  width: 20px;
  outline: none;
  line-height: 0px;
  font-size: 0px;
  color: transparent;
  padding: 5px;
  cursor: pointer;
}

.slick-dots li button:hover, .slick-dots li button:focus {
  outline: none;
}

.slick-dots li button:hover:before, .slick-dots li button:focus:before {
  opacity: 1;
}

.slick-dots li button:before {
  position: absolute;
  top: 0;
  left: 0;
  content: "•";
  width: 20px;
  height: 20px;
  font-family: "slick";
  font-size: 6px;
  line-height: 20px;
  text-align: center;
  color: black;
  opacity: 0.25;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-dots li.slick-active button:before {
  color: black;
  opacity: 0.75;
}

@font-face {
  font-family: 'Avenir Next Cyr';
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/AvenirNextCyr-Regular.woff2") format("woff2"), url("../fonts/AvenirNextCyr-Regular.woff") format("woff");
}

@font-face {
  font-family: 'Avenir Next Cyr Medium';
  font-weight: 500;
  font-style: normal;
  src: url("../fonts/AvenirNextCyr-Medium.woff2") format("woff2"), url("../fonts/AvenirNextCyr-Medium.woff") format("woff");
}

@font-face {
  font-family: 'Avenir Next Cyr Medium';
  font-weight: 500;
  font-style: normal;
  src: url("../fonts/AvenirNextCyr-Medium.woff2") format("woff2"), url("../fonts/AvenirNextCyr-Medium.woff") format("woff");
}

@font-face {
  font-family: 'Main-social';
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/icomoon.eot");
  src: url("../fonts/icomoon.eot") format("embedded-opentype"), url("../fonts/icomoon.ttf") format("truetype"), url("../fonts/icomoon.woff") format("woff"), url("../fonts/icomoon.svg") format("svg");
  font-display: block;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html *, html *:before, html *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

@media (max-width: 575.98px) {
  html {
    font-size: 0.7rem;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  html {
    font-size: 0.5rem;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  html {
    font-size: 0.8rem;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  html {
    font-size: 1rem;
  }
}

@media (min-width: 1200px) {
  html {
    font-size: 1rem;
  }
}

.main-page {
  font-family: "Avenir Next Cyr", "sans-serif";
  margin: 0;
  padding: 0;
  background: #fff;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 1220px;
  margin: 0 auto;
  padding: 0 10px;
}

.header {
  min-height: 205px;
  background: #4e4e50;
}

.info {
  min-height: 75px;
  margin: 0 auto;
  background: #e92126 url("../img/info/bg.png");
}

.main {
  margin-top: 10px;
  background: #fff;
}

.footer {
  margin-top: 50px;
  background: #f8f7f2;
}

@media (max-width: 575.98px) {
  .footer {
    margin-top: 0;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .footer {
    margin-top: 0;
  }
  .header {
    min-height: 225px;
  }
}

.header__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 105px;
  padding-top: 21px;
  color: #fff;
}

.top__city {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin: 13px 0 0 31px;
  cursor: pointer;
}

.top__city::before {
  position: absolute;
  top: 1px;
  left: -28px;
  width: 16px;
  height: 24px;
  content: '';
  background: url("../img/header/top/city-geo.svg") no-repeat;
}

.top__cart {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin: 13px 0 0 0;
  cursor: pointer;
}

.top__cart::before {
  position: absolute;
  top: 3px;
  left: -30px;
  width: 20px;
  height: 21px;
  content: '';
  background: url("../img/header/top/cart.svg") no-repeat;
}

@media (max-width: 575.98px) {
  .top__city {
    display: none;
  }
  .top__cart {
    display: none;
  }
  .top__logo {
    margin: 0 auto;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .top__logo {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    margin-left: 0;
  }
  .top__city::before {
    top: -2px;
  }
  .top__cart::before {
    top: -2px;
  }
}

.city__name {
  font: 400 1.438rem/1.25em "Avenir Next Cyr";
  text-transform: uppercase;
}

.city__select {
  font: 400 1.063rem/1.3em "Avenir Next Cyr";
  cursor: pointer;
  letter-spacing: -1.1px;
  border-bottom: 1px dashed #fff;
}

.city__list {
  position: absolute;
  z-index: 9997;
  top: 38px;
  left: 0;
  visibility: hidden;
  width: 175px;
  margin: 11px 0 0 -25px;
  padding: 0;
  list-style-type: none;
  border-top: 1px dotted #fff;
  border-radius: 0 0 7px 7px;
  background: #4e4e50;
}

.city__list--show {
  visibility: visible;
}

.city__item {
  padding: 5px 6px;
}

.city__link {
  font: 400 1.125rem/0.9em "Avenir Next Cyr";
  padding: 0 20px 0 30px;
  text-decoration: none;
  color: #fff;
}

.city__link:hover {
  text-decoration: underline;
}

.city__link--main {
  font-weight: 500;
}

.cart__name {
  font: 400 1.4375rem/1.3em "Avenir Next Cyr";
  letter-spacing: -.55px;
  text-transform: uppercase;
}

.cart__subname {
  font: 400 1.125rem/1.3em "Avenir Next Cyr";
  margin-left: 9px;
  letter-spacing: -1px;
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .city__name {
    font: 400 2rem/1.2em "Avenir Next Cyr";
    text-transform: uppercase;
    border-bottom: 1px dashed #fff;
  }
  .city__select {
    display: none;
  }
  .city__list {
    top: 11px;
    margin-left: -36px;
    border: none;
  }
  .cart__name {
    font-size: 2rem;
    text-transform: uppercase;
  }
  .cart__subname {
    font-size: 1.5rem;
    border-bottom: 1px dashed #fff;
  }
}

@media (max-width: 575.98px) {
  .header__search {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .header__search {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

.search__wrap {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.search__wrap:after {
  position: absolute;
  top: 11px;
  right: 158px;
  width: 24px;
  height: 23px;
  content: "";
  background: url("../img/header/search/search.svg") no-repeat;
}

.search__input {
  font: bold 1.3125rem / 1.19em "Avenir Next Cyr Medium";
  position: relative;
  width: 1050px;
  height: 44px;
  margin-right: 3px;
  padding: 9px 2.5em 10px 18px;
  text-transform: uppercase;
  color: #4e4e50;
  border: none;
  border-radius: 5px;
  background: #e2e1df;
}

.search__btn {
  font: bold 1.3125rem / 1.28em "Avenir Next Cyr";
  width: 147px;
  height: 44px;
  cursor: pointer;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  color: #fff;
  border: none;
  border-radius: 5px;
  background: #e92126;
}

@media (max-width: 575.98px) {
  .search__wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    padding-bottom: 5px;
  }
  .search__wrap::after {
    right: 1em;
  }
  .search__input {
    width: 100%;
    margin-bottom: 10px;
  }
  .search__btn {
    width: 100%;
    margin-bottom: 5px;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .search__wrap {
    padding-bottom: 5px;
  }
  .search__wrap::after {
    right: 12em;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .search__wrap {
    padding-bottom: 5px;
  }
  .search__wrap::after {
    right: 9.5em;
  }
  .search__input {
    padding-right: 3.5em;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  .search__wrap {
    padding-bottom: 5px;
  }
  .search__wrap::after {
    right: 9em;
  }
}

.header__nav {
  width: 909px;
  margin: 0 auto;
}

@media (max-width: 575.98px) {
  .header__nav {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
    width: 100%;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .header__nav {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
    width: 100%;
    margin-bottom: 10px;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .header__nav {
    width: 100%;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  .header__nav {
    width: 100%;
  }
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0;
}

.nav__item {
  margin-left: 1px;
  list-style-type: none;
}

.nav__link {
  font: 400 0.8125rem/1.38em "Avenir Next Cyr";
  padding: 7px 0 4px;
  text-decoration: none;
  letter-spacing: 0.26px;
  text-transform: uppercase;
  color: #fff;
}

.nav__link:hover {
  border-bottom: 1px solid #fff;
}

.nav__menu {
  position: relative;
}

@media (max-width: 575.98px) {
  .nav__list {
    display: none;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .nav__list {
    display: none;
  }
}

@media (min-width: 768px) {
  .nav__menu {
    display: none;
  }
}

.menu__button {
  display: block;
  width: 44px;
  height: 44px;
}

.menu__lines, .menu__lines::after, .menu__lines::before {
  position: absolute;
  width: 38px;
  height: 3px;
  background: #fff;
}

.menu__lines {
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

.menu__lines::before {
  top: -8px;
  content: "";
}

.menu__lines::after {
  top: 8px;
  content: "";
}

.aside-menu__nav {
  position: fixed;
  z-index: 1130;
  top: 0;
  right: 0;
  display: none;
  width: 40%;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.9)), to(rgba(0, 0, 0, 0.9)));
  background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9));
}

.aside-menu__nav--active {
  display: block;
}

.aside-menu__close {
  font-size: 2.1875rem;
  font-weight: 800;
  position: absolute;
  top: 0;
  right: 10px;
  cursor: pointer;
  color: #fff;
}

.aside-menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0;
  padding: 50px 10px 0 0;
  list-style-type: none;
}

.aside-menu__item {
  width: 70%;
  margin-bottom: 15px;
  padding: 10px;
  text-align: center;
  border: 1px solid #fff;
  border-radius: 5px;
}

.aside-menu__link {
  font: bold 1.5rem/1em 'Avenir Next Cyr';
  text-decoration: none;
  text-transform: uppercas;
  color: #fff;
}

.aside-menu__link:hover {
  text-decoration: underline;
}

.aside-menu__overlay {
  position: fixed;
  z-index: 1020;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.aside-menu__overlay--active {
  display: block;
}

@media (max-width: 575.98px) {
  .aside-menu__nav {
    width: 100%;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .aside-menu__nav {
    width: 40%;
  }
}

.info__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 75px;
  background: #e92126;
}

.info__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-right: 3px;
  cursor: pointer;
  text-align: center;
}

.info__btn-catalog {
  font: bold 1.5625rem/1.28em "Avenir Next Cyr Medium";
  position: relative;
  width: 319px;
  height: 65px;
  padding-left: 46px;
  cursor: pointer;
  text-transform: uppercase;
  color: #1d1b19;
  border: none;
  border-radius: 5px;
  background: #ede712;
}

.info__btn-catalog::after {
  position: absolute;
  top: 20px;
  left: 18px;
  width: 26px;
  height: 25px;
  content: '';
  background: url("../img/info/catalog.svg") no-repeat;
}

.info__btn-phone {
  font: bold 1.5625rem/1.28em "Avenir Next Cyr Medium";
  position: relative;
  width: 319px;
  height: 65px;
  padding: 0 10px 0 63px;
  cursor: pointer;
  text-transform: uppercase;
  color: #1d1b19;
  border: none;
  border-radius: 5px;
  background: #ede712;
}

.info__btn-phone::after {
  position: absolute;
  top: 12px;
  left: 20px;
  width: 40px;
  height: 41px;
  content: '';
  background: url("../img/info/phone.svg") no-repeat;
}

.info__subtext {
  font: 400 0.75rem/1.33em "Avenir Next Cyr";
  display: block;
  text-transform: none;
  color: #1d1b19;
}

.info__img {
  margin-bottom: 5px;
}

.info__name {
  font: bold 0.8125rem/1.38em "Avenir Next Cyr Medium";
  letter-spacing: -0.26px;
  color: #fff;
}

@media (max-width: 575.98px) {
  .info__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    background: #e92126 url("../img/info/bg.png");
  }
  .info__btn-catalog, .info__btn-phone {
    width: 100%;
  }
  .info__subtext {
    font-size: 0.8rem;
  }
  .info__item {
    width: 90%;
    margin-bottom: 15px;
    padding-top: 15px;
  }
  .info__name {
    font-size: 1.3rem;
  }
  .info__img {
    margin-bottom: 10px;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .info__wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background: #e92126 url("../img/info/bg.png");
  }
  .info__item {
    margin: 0 5px 15px 0;
    padding-top: 15px;
  }
  .info__item:nth-child(1) {
    -ms-flex-preferred-size: 40%;
        flex-basis: 40%;
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
  .info__item:nth-child(2) {
    -ms-flex-preferred-size: 20%;
        flex-basis: 20%;
  }
  .info__item:nth-child(3) {
    -ms-flex-preferred-size: 20%;
        flex-basis: 20%;
  }
  .info__item:nth-child(4) {
    -ms-flex-preferred-size: 20%;
        flex-basis: 20%;
  }
  .info__item:nth-child(5) {
    -ms-flex-preferred-size: 40%;
        flex-basis: 40%;
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
  .info__btn-catalog, .info__btn-phone {
    width: 100%;
  }
  .info__img {
    margin-bottom: 10px;
  }
  .info__btn-phone {
    font-size: 2rem;
  }
  .info__subtext {
    font-size: 1rem;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .info__wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background: #e92126 url("../img/info/bg.png");
  }
  .info__item {
    margin: 0 5px 15px 0;
    padding-top: 15px;
  }
  .info__item:nth-child(1) {
    -ms-flex-preferred-size: 40%;
        flex-basis: 40%;
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
  .info__item:nth-child(2) {
    -ms-flex-preferred-size: 20%;
        flex-basis: 20%;
  }
  .info__item:nth-child(3) {
    -ms-flex-preferred-size: 20%;
        flex-basis: 20%;
  }
  .info__item:nth-child(4) {
    -ms-flex-preferred-size: 20%;
        flex-basis: 20%;
  }
  .info__item:nth-child(5) {
    -ms-flex-preferred-size: 40%;
        flex-basis: 40%;
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  .info__wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background: #e92126 url("../img/info/bg.png");
  }
  .info__item {
    margin: 0 5px 15px 0;
    padding-top: 15px;
  }
  .info__item:nth-child(1) {
    -ms-flex-preferred-size: 40%;
        flex-basis: 40%;
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
  .info__item:nth-child(2) {
    -ms-flex-preferred-size: 20%;
        flex-basis: 20%;
  }
  .info__item:nth-child(3) {
    -ms-flex-preferred-size: 20%;
        flex-basis: 20%;
  }
  .info__item:nth-child(4) {
    -ms-flex-preferred-size: 20%;
        flex-basis: 20%;
  }
  .info__item:nth-child(5) {
    -ms-flex-preferred-size: 40%;
        flex-basis: 40%;
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
}

.main__social {
  position: fixed;
  z-index: 9997;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
}

.main-social__link {
  text-decoration: none;
}

@media (max-width: 1199.98px) {
  .main__social {
    display: none;
  }
}

.main__social [class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'Main-social' !important;
  font-size: 31px;
  font-weight: normal;
  font-style: normal;
  font-variant: normal;
  line-height: 1.1;
  text-transform: none;
  speak: none;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-fa:before {
  content: "\e900";
  color: #8b8e91;
}

.icon-fa:hover:before {
  color: #4dac38;
}

.icon-ins:before {
  content: "\e901";
  color: #8b8e91;
}

.icon-ins:hover:before {
  color: #4dac38;
}

.icon-mail:before {
  content: "\e902";
  color: #8b8e91;
}

.icon-mail:hover:before {
  color: #4dac38;
}

.icon-od:before {
  content: "\e903";
  color: #8b8e91;
}

.icon-od:hover:before {
  color: #4dac38;
}

.icon-soc:before {
  content: "\e904";
  color: #8b8e91;
}

.icon-soc:hover:before {
  color: #4dac38;
}

.icon-tv:before {
  content: "\e905";
  color: #8b8e91;
}

.icon-tv:hover:before {
  color: #4dac38;
}

.icon-vk:before {
  content: "\e906";
  color: #8b8e91;
}

.icon-vk:hover:before {
  color: #4dac38;
}

.icon-you:before {
  content: "\e907";
  color: #8b8e91;
}

.icon-you:hover:before {
  color: #4dac38;
}

.main__slider {
  position: relative;
  overflow: hidden;
  text-align: center;
  border: 1px solid #b7b8b9;
  border-radius: 10px;
  background: #ECEAEB;
}

@media (min-width: 1200px) {
  .main__slider {
    min-height: 405px;
  }
}

.slider__img {
  width: 100%;
  margin: 0 auto;
}

.slider__prev {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 15px;
  width: 20px;
  height: 65px;
  cursor: pointer;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background: url(../img/main/slider/prev.svg) no-repeat;
}

.slider__next {
  position: absolute;
  z-index: 100;
  top: 50%;
  right: 15px;
  width: 20px;
  height: 65px;
  cursor: pointer;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background: url(../img/main/slider/next.svg) no-repeat;
}

@media (max-width: 767.98px) {
  .slider__prev, .slider__next {
    z-index: -1;
  }
}

.slider-dots {
  position: absolute;
  bottom: -6px;
  left: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  margin: 0;
  padding: 1rem 0;
  list-style-type: none;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.slider-dots li {
  margin: 0 0.25rem;
}

.slider-dots button {
  width: 1rem;
  height: 1rem;
  margin-right: 5px;
  cursor: pointer;
  text-indent: -9999px;
  border: 1px solid #b7b8b9;
  border-radius: 10px;
  background: #fff;
  background-size: cover;
}

li.slick-active button {
  background: url(../img/main/slider/dots.svg) 50% 50% no-repeat;
}

@media (max-width: 575px) {
  .slider-dots button {
    display: none;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .slider-dots button {
    width: 1.5rem;
    height: 1.5rem;
  }
}

.main__popular {
  padding-top: 1.063em;
  background: #fff;
}

.popular__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 54px;
}

.popular__name {
  font: 400 1.875rem/1.23em "Avenir Next Cyr";
  margin: -1px 55px 0 8px;
  color: #1d1b19;
}

.popular__btn {
  font: 400 0.875rem/1.28em "Avenir Next Cyr";
  width: 158px;
  height: 34px;
  cursor: pointer;
  color: #1d1b19;
  border: none;
  border-radius: 5px 5px 10px 10px;
  background: #ede712;
}

.popular__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.popular__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  margin: 0 40px 22px 10px;
}

.popular__img-box {
  width: 90px;
  margin-right: 1.188em;
}

.popular__info {
  width: 250px;
  cursor: pointer;
}

.popular__info:hover .popular__info-name, .popular__info:hover .popular__info-text {
  color: #e92126;
}

.popular__info-name {
  font: bold 1.5625rem/1.18em "Avenir Next Cyr Medium";
  margin: 0 0 11px 0;
  color: #1d1b19;
}

.popular__info-text {
  font: 400 1.125rem/1.28em "Avenir Next Cyr";
  margin: 0;
  color: #1d1b19;
}

@media (max-width: 575.98px) {
  .popular__title {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .popular__name {
    font: 800 1.4375rem/1em "Avenir Next Cyr Medium";
    margin: 0 0 30px 0;
    text-align: center;
  }
  .popular__row {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .popular__item {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-right: 0;
    padding: 10px;
    border: 1px solid #4e4e50;
    border-radius: 10px;
  }
  .popular__info {
    text-align: center;
  }
  .popular__img-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    margin: 0;
  }
}

@media (min-width: 576px) and (max-width: 1199.98px) {
  .popular__title {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .popular__name {
    margin: 0 0 30px 0;
    text-align: center;
  }
  .popular__row {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .popular__item {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-right: 20px;
    padding: 10px;
    border: 1px solid #4e4e50;
    border-radius: 10px;
  }
  .popular__info {
    text-align: center;
  }
  .popular__img-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    height: 100px;
    margin: 0;
  }
}

@media (min-width: 1200px) {
  .popular__item:nth-child(2) {
    margin-left: -5px;
  }
  .popular__item:nth-child(3) {
    margin-right: -10px;
  }
}

.main__leaders {
  margin-top: 65px;
  background: #fff;
}

.leaders__btn {
  font: 400 1.5625rem/1.28em "Avenir Next Cyr";
  width: 394px;
  height: 72px;
  padding: 21px 0 19px 0;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  border: none;
  border-radius: 5px 5px 10px 10px;
  background: #e92126;
}

.leaders__text {
  font: 300 1.625rem/1.23em "Avenir Next Cyr";
  margin-top: 58px;
  text-align: justify;
  color: #1d1b19;
}

@media (max-width: 575.98px) {
  .leaders__btn {
    width: 100%;
  }
  .leaders__text {
    font-size: 1rem;
    margin-top: 20px;
    text-align: center;
  }
}

@media (min-width: 576px) and (max-width: 1199.98px) {
  .leaders__btn {
    font: 1.4375rem/1em "Avenir Next Cyr Medium";
    width: 100%;
  }
  .leaders__text {
    font-size: 1.125rem;
    margin-top: 20px;
    text-align: center;
  }
}

.leaders-slider__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  width: 293px;
  height: 432px;
  margin-top: 10px;
  margin-right: 9px;
  padding: 19px 29px;
  text-align: center;
  border: 1px solid #b7b8b9;
  border-radius: 5px;
  background: #fff;
}

.leaders-slider__link {
  text-decoration: none;
}

.leaders-slider__name, .leaders-slider__subname {
  font: 400 0.9375rem/1.28em "Avenir Next Cyr Medium";
  margin: 0;
  text-transform: uppercase;
  color: #1d1b19;
}

.leaders-slider__btn-buy, .leaders-slider__btn-click {
  display: block;
  width: 187px;
  height: 34px;
  margin: 0 auto;
  cursor: pointer;
  border: none;
  border-radius: 5px 5px 10px 10px;
}

.leaders-slider__btn-buy {
  font: bold 17px/1.26em "Avenir Next Cyr";
  margin: 11px auto 8px auto;
  text-transform: uppercase;
  color: #fff;
  background: #e92126;
}

.leaders-slider__btn-click {
  font: 400 14px/1.26em "Avenir Next Cyr";
  text-transform: uppercase;
  color: #1d1b19;
  background: #ede712;
}

.leaders-slider__img {
  width: 229px;
  margin: 9px 0 29px;
}

.leaders-slider__prev {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 15px;
  width: 12px;
  height: 26px;
  cursor: pointer;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background: url(../img/main/leaders/prev.svg) no-repeat;
}

.leaders-slider__next {
  position: absolute;
  z-index: 100;
  top: 50%;
  right: 15px;
  width: 12px;
  height: 26px;
  cursor: pointer;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background: url(../img/main/leaders/next.svg) no-repeat;
}

@media (max-width: 575.98px) {
  .leaders-slider__item {
    width: 100%;
  }
  .leaders-slider__img {
    margin: 0 auto;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .leaders-slider__item {
    width: 100%;
    margin-right: 0;
  }
  .leaders-slider__img {
    margin: 0 auto;
  }
}

@media (min-width: 768px) and (max-width: 1199.98px) {
  .leaders-slider__item {
    width: 99%;
  }
  .leaders-slider__img {
    margin: 0 auto;
  }
}

.leaders-slider .price__cost {
  font: 400 1.1875rem/1.26em "Avenir Next Cyr";
}

.leaders-slider .price__number, .leaders-slider .price__currency {
  font: bold 1.625rem/1.3em "Avenir Next Cyr Medium";
  color: #e92126;
}

.main__news {
  margin-top: 37px;
  background: #fff;
}

.news__btn {
  font: 400 1.5625rem/1.28em "Avenir Next Cyr";
  width: 394px;
  height: 72px;
  padding: 21px 0 19px 0;
  text-align: center;
  text-transform: uppercase;
  color: #1d1b19;
  border: none;
  border-radius: 5px 5px 10px 10px;
  background: #ede712;
}

.news__text {
  font: 300 1.625rem/1.23em "Avenir Next Cyr";
  margin-top: 58px;
  text-align: justify;
  color: #1d1b19;
}

@media (max-width: 575.98px) {
  .news__btn {
    width: 100%;
  }
  .news__text {
    font-size: 1rem;
    margin-top: 20px;
    text-align: center;
  }
}

@media (min-width: 576px) and (max-width: 1199.98px) {
  .news__btn {
    font: 1.4375rem/1em "Avenir Next Cyr Medium";
    width: 100%;
  }
  .news__text {
    font-size: 1.125rem;
    margin-top: 20px;
    text-align: center;
  }
}

.news-slider__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  width: 293px;
  height: 432px;
  margin-top: 10px;
  margin-right: 9px;
  padding: 19px 29px;
  text-align: center;
  border: 1px solid #b7b8b9;
  border-radius: 5px;
  background: #fff;
}

.news-slider__link {
  text-decoration: none;
}

.news-slider__name, .news-slider__subname {
  font: 400 0.9375rem/1.28em "Avenir Next Cyr Medium";
  margin: 0;
  text-transform: uppercase;
  color: #1d1b19;
}

.news-slider__btn-buy, .news-slider__btn-click {
  display: block;
  width: 187px;
  height: 34px;
  margin: 0 auto;
  cursor: pointer;
  border: none;
  border-radius: 5px 5px 10px 10px;
}

.news-slider__btn-buy {
  font: bold 17px/1.26em "Avenir Next Cyr";
  margin: 11px auto 8px auto;
  text-transform: uppercase;
  color: #fff;
  background: #e92126;
}

.news-slider__btn-click {
  font: 400 14px/1.26em "Avenir Next Cyr";
  text-transform: uppercase;
  color: #1d1b19;
  background: #ede712;
}

.news-slider__img {
  width: 229px;
  margin: 9px 0 29px;
}

.news-slider__prev {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 15px;
  width: 12px;
  height: 26px;
  cursor: pointer;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background: url(../img/main/news/prev.svg) no-repeat;
}

.news-slider__next {
  position: absolute;
  z-index: 100;
  top: 50%;
  right: 15px;
  width: 12px;
  height: 26px;
  cursor: pointer;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background: url(../img/main/news/next.svg) no-repeat;
}

@media (max-width: 575.98px) {
  .news-slider__item {
    width: 100%;
  }
  .news-slider__img {
    margin: 0 auto;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .news-slider__item {
    width: 100%;
    margin-right: 0;
  }
  .news-slider__img {
    margin: 0 auto;
  }
}

@media (min-width: 768px) and (max-width: 1199.98px) {
  .news-slider__item {
    width: 99%;
  }
  .news-slider__img {
    margin: 0 auto;
  }
}

.news-slider .price__cost {
  font: 400 1.1875rem/1.26em "Avenir Next Cyr";
}

.news-slider .price__number, .news-slider .price__currency {
  font: bold 1.625rem/1.3em "Avenir Next Cyr Medium";
  color: #e92126;
}

.main__discounts {
  margin-top: 37px;
  background: #fff;
}

.discounts__btn {
  font: 400 1.5625rem/1.28em "Avenir Next Cyr";
  width: 394px;
  height: 72px;
  padding: 21px 0 19px 0;
  text-align: center;
  text-transform: uppercase;
  color: #1d1b19;
  border: none;
  border-radius: 5px 5px 10px 10px;
  background: #ede712;
}

.discounts__text {
  font: 300 1.625rem/1.23em "Avenir Next Cyr";
  margin-top: 58px;
  text-align: justify;
  color: #1d1b19;
}

@media (max-width: 575.98px) {
  .discounts__btn {
    width: 100%;
  }
  .discounts__text {
    font-size: 1rem;
    margin-top: 20px;
    text-align: center;
  }
}

@media (min-width: 576px) and (max-width: 1199.98px) {
  .discounts__btn {
    font: 1.4375rem/1em "Avenir Next Cyr Medium";
    width: 100%;
  }
  .discounts__text {
    font-size: 1.125rem;
    margin-top: 20px;
    text-align: center;
  }
}

.discounts-slider__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  width: 293px;
  height: 432px;
  margin-top: 10px;
  margin-right: 9px;
  padding: 19px 29px;
  text-align: center;
  border: 1px solid #b7b8b9;
  border-radius: 5px;
  background: #fff;
}

.discounts-slider__link {
  text-decoration: none;
}

.discounts-slider__name, .discounts-slider__subname {
  font: 400 0.9375rem/1.28em "Avenir Next Cyr Medium";
  margin: 0;
  text-transform: uppercase;
  color: #1d1b19;
}

.discounts-slider__btn-buy, .discounts-slider__btn-click {
  display: block;
  width: 187px;
  height: 34px;
  margin: 0 auto;
  cursor: pointer;
  border: none;
  border-radius: 5px 5px 10px 10px;
}

.discounts-slider__btn-buy {
  font: bold 17px/1.26em "Avenir Next Cyr";
  margin: 11px auto 8px auto;
  text-transform: uppercase;
  color: #fff;
  background: #e92126;
}

.discounts-slider__btn-click {
  font: 400 14px/1.26em "Avenir Next Cyr";
  text-transform: uppercase;
  color: #1d1b19;
  background: #ede712;
}

.discounts-slider__img {
  width: 229px;
  margin: 9px 0 29px;
}

.discounts-slider__prev {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 15px;
  width: 12px;
  height: 26px;
  cursor: pointer;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background: url(../img/main/discounts/prev.svg) no-repeat;
}

.discounts-slider__next {
  position: absolute;
  z-index: 100;
  top: 50%;
  right: 15px;
  width: 12px;
  height: 26px;
  cursor: pointer;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background: url(../img/main/discounts/next.svg) no-repeat;
}

@media (max-width: 575.98px) {
  .discounts-slider__item {
    width: 100%;
  }
  .discounts-slider__img {
    margin: 0 auto;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .discounts-slider__item {
    width: 100%;
    margin-right: 0;
  }
  .discounts-slider__img {
    margin: 0 auto;
  }
}

@media (min-width: 768px) and (max-width: 1199.98px) {
  .discounts-slider__item {
    width: 99%;
  }
  .discounts-slider__img {
    margin: 0 auto;
  }
}

.discounts-slider .price__cost {
  font: 400 1.1875rem/1.26em "Avenir Next Cyr";
}

.discounts-slider .price__number, .discounts-slider .price__currency {
  font: bold 1.625rem/1.3em "Avenir Next Cyr Medium";
  color: #e92126;
}

.main__offer {
  margin: 64px 0;
  background: #fff;
}

@media (max-width: 767.98px) {
  .main__offer {
    margin-bottom: 20px;
  }
}

.offer__title-wrap {
  margin-bottom: 34px;
  text-align: center;
}

.offer__title {
  font: 400 1.5625rem/1.28em "Avenir Next Cyr";
  margin: 0;
  color: #4e4e50;
}

.offer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 10px;
}

.offer__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 390px;
}

.offer__item:hover .offer__name {
  color: #e92126;
}

.offer__item:hover .offer__img {
  display: none;
}

.offer__item:hover .offer__img-active {
  display: block;
}

.offer__item:hover .ic {
  fill: #000;
}

.offer__img-wrap {
  min-width: 65px;
  margin-right: 15px;
}

.offer__img-active {
  display: none;
}

.offer__name {
  font: 500 1rem/1.38em "Avenir Next Cyr";
  margin: 10px 0;
  cursor: pointer;
  color: #110f0d;
}

.offer__text {
  font: 400 0.875rem/1.38em "Avenir Next Cyr";
  margin: 1px 0;
  color: #5f6163;
}

@media (max-width: 767.98px) {
  .offer__title, .offer__name {
    font-weight: bold;
  }
  .offer__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .offer__item {
    width: 100%;
    margin-bottom: 10px;
  }
  .offer__img {
    margin-top: 8px;
  }
}

svg path {
  fill: inherit;
  stroke: inherit;
  stroke-width: inherit;
}

.ic:hover {
  fill: #000;
}

.no-select, .accordion__name {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-touch-callout: none;
  -khtml-user-select: none;
}

.accordion__name {
  font: 400 17px/1.28 "Avenir Next Cyr";
  display: block;
  max-height: 48px;
  margin: 0;
  padding: 14px 20px;
  cursor: pointer;
  border-radius: 5px;
  background-color: #ede712;
}

@media (max-width: 575.98px) {
  .accordion__name {
    font-size: 0.625rem;
    font-weight: 800;
    padding-right: 40px;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .accordion__name {
    font-size: 0.875rem;
    font-weight: 800;
  }
}

.accordion__row {
  font-size: 1.0625rem;
  line-height: 26px;
  position: relative;
  z-index: 2;
  overflow: hidden;
  max-height: 800px;
  margin-top: 14px;
  padding: 10px;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  letter-spacing: 1px;
  opacity: 1;
  color: #1d1b19;
}

.accordion__list {
  margin: 0;
  padding: 0;
  list-style: none;
  -webkit-perspective: 900;
          perspective: 900;
}

.accordion__item {
  position: relative;
  margin: 0;
  padding: 0;
}

.accordion__item:nth-of-type(1) {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

.accordion__item:nth-of-type(2) {
  -webkit-animation-delay: 0.75s;
          animation-delay: 0.75s;
}

.accordion__item:nth-of-type(3) {
  -webkit-animation-delay: 1.0s;
          animation-delay: 1.0s;
}

.accordion__item:last-of-type {
  padding-bottom: 0;
}

.accordion__text {
  font: 400 0.875rem/1.28 "Avenir Next Cyr";
  color: #5f6163;
}

.accordion__button {
  position: absolute;
  right: 25px;
  margin-top: 1.3rem;
  -webkit-transform: translate(-6px, 0);
          transform: translate(-6px, 0);
}

.accordion__button:before, .accordion__button:after {
  position: absolute;
  width: 3px;
  height: 9px;
  content: "";
  background-color: #4e4e50;
}

.accordion__button:before {
  -webkit-transform: translate(-2px, 0) rotate(45deg);
          transform: translate(-2px, 0) rotate(45deg);
}

.accordion__button:after {
  -webkit-transform: translate(2px, 0) rotate(-45deg);
          transform: translate(2px, 0) rotate(-45deg);
}

.accordion input[type=checkbox] {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  cursor: pointer;
  opacity: 0;
}

.accordion input[type=checkbox]:checked ~ div {
  max-height: 0;
  margin-top: 0;
  -webkit-transform: translate(0, 50%);
          transform: translate(0, 50%);
  opacity: 0;
}

.accordion input[type=checkbox]:checked ~ i:before {
  -webkit-transform: translate(2px, 0) rotate(45deg);
          transform: translate(2px, 0) rotate(45deg);
}

.accordion input[type=checkbox]:checked ~ i:after {
  -webkit-transform: translate(-2px, 0) rotate(-45deg);
          transform: translate(-2px, 0) rotate(-45deg);
}

.accordion input[type=checkbox]:checked ~ h2 {
  border: 1px solid #aeacad;
  background: #fff;
}

@-webkit-keyframes flipdown {
  0% {
    -webkit-transform: rotateX(-90deg);
            transform: rotateX(-90deg);
    -webkit-transform-origin: top center;
            transform-origin: top center;
    opacity: 0;
  }
  5% {
    opacity: 1;
  }
  80% {
    -webkit-transform: rotateX(8deg);
            transform: rotateX(8deg);
  }
  83% {
    -webkit-transform: rotateX(6deg);
            transform: rotateX(6deg);
  }
  92% {
    -webkit-transform: rotateX(-3deg);
            transform: rotateX(-3deg);
  }
  100% {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
    -webkit-transform-origin: top center;
            transform-origin: top center;
  }
}

@keyframes flipdown {
  0% {
    -webkit-transform: rotateX(-90deg);
            transform: rotateX(-90deg);
    -webkit-transform-origin: top center;
            transform-origin: top center;
    opacity: 0;
  }
  5% {
    opacity: 1;
  }
  80% {
    -webkit-transform: rotateX(8deg);
            transform: rotateX(8deg);
  }
  83% {
    -webkit-transform: rotateX(6deg);
            transform: rotateX(6deg);
  }
  92% {
    -webkit-transform: rotateX(-3deg);
            transform: rotateX(-3deg);
  }
  100% {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
    -webkit-transform-origin: top center;
            transform-origin: top center;
  }
}

.footer__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 54px;
  background: #4e4e50;
}

@media (max-width: 575.98px) {
  .footer__nav {
    width: 100%;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .footer__nav {
    width: 100%;
    margin-bottom: 10px;
  }
}

.footer .nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 909px;
  margin: 0 auto;
  padding: 0;
}

.footer .nav__item {
  margin-left: 1px;
  list-style-type: none;
}

.footer .nav__link {
  font: 400 0.8125rem/1.38em "Avenir Next Cyr";
  padding: 7px 0 4px;
  text-decoration: none;
  letter-spacing: .26px;
  text-transform: uppercase;
  color: #fff;
}

.footer .nav__link:hover {
  color: #c99a19;
  border-bottom: 1px solid #c99a19;
}

.footer .nav__menu {
  position: relative;
}

@media (max-width: 991.98px) {
  .footer .nav__list {
    display: none;
  }
}

.footer .footer__inform {
  margin-top: 45px;
  background: #f8f7f2;
}

.footer-inf__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 37px;
}

.footer-inf__column {
  margin-right: 200px;
}

.footer-inf__name {
  font: 400 1.125rem/1.27em "Avenir Next Cyr";
  margin: 0 0 11px 0;
  text-transform: uppercase;
  color: #110f0d;
}

.footer-inf__list {
  margin: 0;
  padding: 0;
}

.footer-inf__item {
  margin-bottom: 6px;
  list-style-type: none;
}

.footer-inf__link {
  font: 400 1.125rem/1.27em "Avenir Next Cyr";
  text-decoration: none;
  color: #110f0d;
}

.footer-inf__text {
  font: 400 1rem/1.25em "Avenir Next Cyr";
  color: #110f0d;
}

.footer-inf__subtext {
  font: 400 0.75rem/1.25em "Avenir Next Cyr";
  -ms-flex-line-pack: start;
      align-content: flex-start;
  color: #110f0d;
}

@media (max-width: 767.98px) {
  .footer-inf__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer-inf__column {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    margin: 0 0 20px 0;
  }
  .footer-inf__name {
    font-size: 1rem;
    font-weight: 800;
  }
  .footer-inf__link {
    font-size: 0.875rem;
  }
  .footer-inf__text {
    font-size: 0.75rem;
    text-align: justify;
  }
  .footer-inf__item {
    text-align: center;
  }
}

@media (min-width: 768px) and (max-width: 1199.98px) {
  .footer-inf__row {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .footer-inf__column {
    margin-right: 0;
  }
}

.footer__details {
  height: 149px;
  margin-top: 80px;
  background: #e8ea14 url("../img/footer/details/bg.png");
}

@media (max-width: 575.98px) {
  .footer__details {
    height: 270px;
    margin-top: 20px;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .footer__details {
    height: 270px;
    margin-top: 20px;
  }
}

.details__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 25px 0;
}

.details__item {
  font: bold 0.75rem/1.33 "Avenir Next Cyr";
  margin: 0 0 2px 0;
  color: #110f0d;
}

@media (max-width: 575.98px) {
  .details__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .details__column {
    margin-bottom: 20px;
    text-align: center;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .details__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .details__column {
    margin-bottom: 20px;
    text-align: center;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .details__row {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .details__column {
    margin-right: 10px;
  }
  .details__column:nth-last-child(1) {
    margin-right: 0;
  }
}

.footer__reserved {
  height: 254px;
  background: #f8f7f2;
}

@media (max-width: 575.98px) {
  .footer__reserved {
    max-height: 250px;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .footer__reserved {
    height: 150px;
  }
}

.reserved__row {
  font: 400 1rem/1.27em "Avenir Next Cyr";
  padding-top: 91px;
  color: #110f0d;
}

@media (max-width: 575.98px) {
  .reserved__row {
    font-size: 0.9375rem;
    padding-top: 20px;
    text-align: justify;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .reserved__row {
    font-size: 1rem;
    padding-top: 20px;
    text-align: justify;
  }
}

.footer__present {
  height: 28px;
  border-top: 3px solid #b7b8b9;
  background: #fff;
}

.present__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.present__column {
  margin-top: 6px;
}

.present__column:nth-child(1) {
  font: 400 1.125rem/1em "Avenir Next Cyr";
  text-transform: uppercase;
  color: #110f0d;
}

.present__column:nth-child(2) {
  font: 400 1rem/1em "Avenir Next Cyr";
  color: #110f0d;
}

.present__gift {
  color: #e92126;
}

@media (max-width: 575.98px) {
  .present__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .present__column:nth-child(1) {
    font-size: 12px;
  }
  .present__column:nth-child(2) {
    font-size: 12px;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .present__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .present__column:nth-child(1) {
    font-size: 0.75rem;
  }
  .present__column:nth-child(2) {
    font-size: 0.75rem;
  }
}
/*# sourceMappingURL=style.css.map */